:root{
  --background-color: #333333;
  --text-color: #484848;
  --light-color: #fff900;
  --shadow-color: #ff6c00;
}

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: var(--background-color);
} 
.container {
  height: 100vh;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul li {
  list-style: none;
  color: var(--text-color);
  font-size: min(40px, 10vw);
  margin-bottom: min(10px, 2vw);
  animation: lighting 1.4s linear infinite;
}
@keyframes lighting {
  0% {
    color: var(--text-color);
    text-shadow: none;
  }

  90% {
    color: var(--text-color);
    text-shadow: none;
  }

  100% {
    color: var(--light-color);
    text-shadow: 0 0 7px var(--light-color), 0 0 50px var(--shadow-color);
  } 
}

ul li:nth-child(1) {
  animation-delay: 0s;
}

ul li:nth-child(2) {
  animation-delay: 0.1s;
}

ul li:nth-child(3) {
  animation-delay: 0.2s;
}

ul li:nth-child(4) {
  animation-delay: 0.3s;
}

ul li:nth-child(5) {
  animation-delay: 0.4s;
}

ul li:nth-child(6) {
  animation-delay: 0.5s;
}

ul li:nth-child(7) {
  animation-delay: 0.6s;
}

ul li:nth-child(8) {
  animation-delay: 0.7s;
}
ul li:nth-child(9) {
  animation-delay: 0.8s;
}
ul li:nth-child(10) {
  animation-delay: 0.9s;
}
ul li:nth-child(11) {
  animation-delay: 1s;
}

@media (min-width: 500px){
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
  ul li {
    font-size: 9vw;
    letter-spacing: 2vw;
    margin-bottom: 0;
  }
}