:root {
  --loading-color: #21c6f0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ring {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  box-shadow: 0 3px 0 var(--loading-color);
  background: transparent;
  animation: animate 5s linear infinite;
}
.text {
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  color: var(--loading-color);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  line-height: 40vw;
  font-size: 4.5vw;
  background: transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 800px) {
  .ring {
    height: 300px;
    width: 300px;
  }

  .text {
    height: 300px;
    width: 300px;
    line-height: 300px;
    font-size: 2em;
  }
}
